<div class="card card-cascade narrower">


    <!--Section: Chart-->
    <section>
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-xl-5 col-md-12 mr-0">
                <!--Card image-->
                <div class="view view-cascade gradient-card-header primary-color">
                    <h4 class="h4-responsive mb-0 font-weight-bold">Bug Bounty</h4>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade pb-0">

                    <!--Panel data-->
                    <div class="row card-body pt-3">

                        <!--First column-->
                        <div class="col-md-12">

                            <h4>Reported Bugs: {{ all_bugs }}</h4>
                            <h4>Fixed Bugs: {{ fixed_bugs }}</h4>
                        </div>
                        <!--/First column-->

                    </div>
                    <!--/Panel data-->

                </div>
                <!--/.Card content-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-xl-7 col-md-12 mb-4">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header primary-color">
                    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
                         class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div>

                    <!-- Chart -->
                    <canvas id="bugs_chart" height="344" style="display: block; width: 713px; height: 344px;"
                            width="713" class="chartjs-render-monitor"></canvas>

                </div>
                <!--/Card image-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Chart-->
</div>