{% load widget_tweaks %}

<form class="form" action="{% url 'todoz:create_comment' task.pk %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {% if field.field.widget.input_type == "checkbox" %}
            <div class="form-group form-check">
                <label class="form-check-label">
                    {% render_field field class="form-check-input" %}
                    {{ field.label }}
                </label>
            </div>
        {% else %}
            <div class="form-group">
                <div class="clearfix">
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <i class="fa fa-question-circle float-right" data-toggle="tooltip" title="{{ field.help_text}}"></i>
                    {% endif %}
                </div>
                {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control is-invalid" %}
                  {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control" %}
              {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <button class="btn btn-default float-right pr-5 pl-5">Submit</button>
</form>