<table class="table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Reported at</th>
            <th>Bug-Hunter</th>
        </tr>
    </thead>
    <tbody>
        {% for vuln in vulnerabilities %}
        <tr>
            <td><a href="{{ vuln.get_absolute_url }}" >{{ vuln.domain }}</a></td>
            <td>{{ vuln.created_at|timesince }} ago</td>
            <td>{{ vuln.user }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>