<table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>Bug-Hunter</th>
                <th>Vulnerabilities</th>
            </tr>
        </thead>
        <tbody>
            {% for bughunter in top_researchers %}
                <tr>
                    <td><a href="{% url 'accounts:user_profile' bughunter.pk %}">{{ bughunter.username }}</a></td>
                    <td>{{ bughunter.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>