{% extends 'base_no_sidebar.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

    <section class="mb-5">
        {% include 'accounts/dashboard/bug_bounty_section.html' %}
    </section>

    <section class="mb-5">
        {% include 'accounts/dashboard/projects_section.html' %}
    </section>



{% endblock content %}

{% block extra_scripts %}
    {% include 'accounts/dashboard/javascript/dashboard_charts.html' %}
{% endblock extra_scripts %}