{% extends 'base_no_sidebar.html' %}

{% block title %}Settings{% endblock title %}


{% block content %}

    <main>
        <div class="container">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#basic_settings">Basic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#personal_settings">Personal</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active" id="basic_settings">
                    {% include 'accounts/sections/profile/basic_settings.html' %}
                </div>
                <div class="tab-pane container fade" id="personal_settings">
                    {% include 'accounts/sections/profile/personal_settings.html' %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}


{% block extra_scripts %}
    {% include 'accounts/javascript/settings.html' %}
{% endblock extra_scripts %}