<h1 class="h1-responsive font-weight-bold mt-sm-5">CySec - Framework </h1>
<hr class="hr-light">
<h6 class="mb-4">
    Login or register your CySec - Account to publish and manage your found vulnerabilities and projects
</h6>
<a class="btn btn-white" href="https://gitlab.com/cysec-framework/cysec-server">
    Host your own
</a>
<a class="btn btn-outline-white" href="https://cysec-framework.gitlab.io">Learn more</a>