<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
        <title>Report for {{ report.project.name }}</title>
    </head>
    <body>
        <div class="container mt-5">
            <!-- First Page -->
            <h2 class="text-center">{{ report.project.name }}</h2>
            <h5 class="text-center">{% now "D d M Y" %}</h5>

            <!-- Second Page -->
            <h3 class="text-center mt-5">Contact</h3>
            <hr/>
            <div class="list-group">
                {% for owner in report.project.get_owners.all %}
                    <div class="list-group-item">
                        <div class="clearfix">
                            <div class="float-left">
                                <div class="row">
                                    <div class="col-sm-12">
                                        Name:
                                        {% if owner.first_name or owner.last_name %}
                                            {{ owner.first_name }} {{ owner.last_name }} ({{ owner.username }})
                                        {% else %}
                                            {{ owner.username }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        E-Mail:
                                        {% if owner.email %}
                                            {{ owner.email }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Role: Owner
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Profile: -
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for pentester in report.project.get_pentesters.all %}
                    <div class="list-group-item">
                        <div class="clearfix">
                            <div class="float-left">
                                <div class="row">
                                    <div class="col-sm-12">
                                        Name:
                                        {% if pentester.first_name or pentester.last_name %}
                                            {{ pentester.first_name }} {{ pentester.last_name }} ({{ pentester.username }})
                                        {% else %}
                                            {{ pentester.username }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        E-Mail:
                                        {% if pentester.email %}
                                            {{ pentester.email }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Role: Pentester
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Profile: -
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Vulnerability Section -->
            <h3 class="text-center mt-5">Vulnerabilities</h3>
            <hr />

            {% for vulnerability in vulnerabilities %}
                <div class="card mt-5">
                    <div class="card-header">
                        <div class="clearfix">
                            <div class="float-left">
                                {{ vulnerability|title }}
                            </div>
                            <div class="float-right">
                                <span class="badge badge-pill badge-light">{{ vulnerability.severity }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><strong>Host: </strong>{{ vulnerability.service.host.ip }}</p>
                        <p><strong>Service: </strong>{{ vulnerability.service.name }}/{{ vulnerability.service.port }}</p>
                        <p><strong>Description: </strong>{{ vulnerability.description }}</p>
                        <p><strong>Proof of concept: </strong>{{ vulnerability.poc }}</p>
                        {% if vulnerability.webvulnerability %}
                            <p><strong>Hostname: </strong>{{ vulnerability.webvulnerability.hostname }}</p>
                            <p><strong>Path: </strong>{{ vulnerability.webvulnerability.path }}</p>
                            <p><strong>Parameter: </strong>{{ vulnerability.webvulnerability.param }}</p>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info">No Vulnerabilities</div>
            {% endfor %}
        </div>
            <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
    </body>
</html>