{% extends 'base_no_sidebar.html' %}
{% load i18n %}

{% block content %}

    <div class="card">
        <div class="card-header">{% trans "Delete Blog?" %}</div>
        <div class="card-body">
            {% include 'blogging/forms/confirm_blog_delete.html' %}
        </div>
    </div>
{% endblock content %}