{% extends 'base_no_sidebar.html' %}
{% load i18n %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

    {% include 'blogging/blog_heading.html' with blog=post.blog %}

    <a href="{{ post.blog.get_absolute_url }}">{% trans "Back" %}</a>

    <div class="card mt-2">
        <div class="card-header">
            <h3>{{post.title}}</h3>
            <small>posted on {{post.created_at}} by {{post.blog.user.username}} </small>
        </div>
        <div class="card-body">
            {{post.formatted_markdown|safe}}
        </div>
    </div>
{% endblock content %}