<h6 class="my-3">Accepted Donations</h6>
{%  for accepted_donation in user.accepteddonation_set.all %}
    <p><strong>{{ accepted_donation.key }}: </strong>{{ accepted_donation.value }}</p>
{%  endfor %}
{% if user.profile.bitcoin_address %}
    <p><strong>Bitcoin-Address: </strong> {{ user.profile.bitcoin_address }}</p>
{% endif %}
{% if user.profile.monero_address %}
    <p><strong>Monero: </strong> {{ user.profile.monero_address|wordwrap:10|linebreaksbr }}</p>
{% endif %}