{% load pinax_badges_tags %}
{% load staticfiles %}
{% load user_badges %}


<div class="my-3">
    {%  if not user|user_badges %}
        <div class="alert alert-info">No badges for this user</div>
    {%  endif %}
    {% for badge, levels in user|user_badges %}
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <p><strong>{{ badge }}: </strong></p>
                </div>
                <div class="row">
                    {% for level in levels.0.levels %}
                        {% if level.awarded == True %}
                            <div class="col mx-auto">
                                <div class="row">
                                    <img class="img-fluid" src="{% static 'img/badges/medal_enabled.png' %}" />
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-center">{{ level.level.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {%  else %}
                            <div class="col">
                                <div class="row">
                                    <img class="img-fluid" src="{% static 'img/badges/medal_disabled.png' %}" />
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-center">{{ level.level.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {%  endif %}
                    {%  endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>