{% extends 'base_no_sidebar.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url 'list_vuln_types' %}>Vulnerability-Types</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{# url 'single_vuln_type' form.instance.slug #}">{{ form.instance.name }}</a>
        </li>
        <li class="breadcrumb-item active">edit</li>
    </ol>
{% endblock breadcrumbs %}

{% block content %}
    <div class="card">
        <div class="card-header">Edit Vulnerability</div>
        <div class="card-body">
            {% include 'vulns/forms/forms/edit_vuln_type_form.html' %}
        </div>
    </div>

{% endblock content %}