{% extends 'base_no_sidebar.html' %}

{% block title %}Bug Bounty{% endblock title %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Latest vulnerabilities</h3>
                        <hr />
                        {% include 'bug_bounty_mode/sections/submission_table.html' with vulnerabilities=latest_vulns %}
                        <!--
                        <div class="list-group">
                            {% for vuln in latest_vulns %}
                                {% include 'bug_bounty_mode/sections/vulnerability_list_item.html' %}
                            {% endfor %}
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Latest patched</h3>
                        <hr />
                        {% include 'bug_bounty_mode/sections/latest_patched_table.html' with vulnerabilities=latest_patched %}
                        <!--
                        <div class="list-group">
                            {% for vuln in latest_patched %}
                            {% include 'bug_bounty_mode/sections/vulnerability_list_item.html' %}
                            {% endfor %}
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Top Researchers</h3>
                        <hr />
                        {% include 'bug_bounty_mode/sections/top_researchers_table.html' %}
                        <!--<div class="list-group">
                            {% for user in top_researchers %}
                            <div class="media border p-3">
                                <img src="{# user.email|gravatar_url:150 #}" alt="{{ user.username }}" class="align-self-center mr-3 rounded-circle"
                                    style="width:60px">
                                <div class="media-body">
                                    <h4><a class="text-dark" href="{% url 'bug_bounty_vuln_by_user' user.pk %}">{{ user.username }}</a></h4>
                                    <p>Vulnerabilities: {{ user.count }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Top Vulnerabilities</h3>
                            <hr />
                            {% include 'bug_bounty_mode/sections/top_vulnerability_types_table.html' %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</main>

{% endblock content %}