{% extends 'base_no_sidebar.html' %}

{% block title %}Bug-Bounty List{% endblock title %}

{% block content %}
    <h3 class="text-center">Bug List</h3>
    <hr />
    {% if not vulns %}
        <div class="alert alert-warning">no vulnerabilities yet!</div>
    {% endif %}

    <div class="list-group">
        {% for vuln in vulns %}
            {% include 'bug_bounty_mode/sections/vulnerability_list_item.html' %}
        {% endfor %}
    </div>
    {% include 'generic/paginator.html' %}


{% endblock content %}