{% extends 'base_no_sidebar.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url 'list_vuln_types' %}>Vulnerability-Types</a>
        </li>
        <li class="breadcrumb-item active">{{ vuln_type.name }}</li>
    </ol>
{% endblock breadcrumbs %}


{% block content %}

    <div class="card mt-2">
        <div class="card-header">
            <p> {{ vuln_type.name }} </p>
            <small> Updated at: {{ vuln_type.updated_at }} by {{ vuln_type.updated_from }}</small>
        </div>

        <div class="card-body">
            <p><strong>Name: </strong>{{vuln_type.name}}</p>
            <p><strong>Description: </strong>{{vuln_type.description|linebreaksbr}}</p>
            <p><strong>Consequences: </strong>{{ vuln_type.consequences|linebreaksbr}}</p>
            <p><strong>How-To-Fix: </strong>{{vuln_type.how_to_fix|linebreaksbr}}</p>        
        </div>

        <div class="card-footer">
            <a class="btn btn-secondary pl-5 pr-5 float-right" href="{% url 'edit_vuln_type' vuln_type.slug %}">
                <i class="fa fa-edit"></i>
                Edit
            </a>
        </div>
    </div>

{% endblock content %}