{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
   {% include 'head.html' %}
    <title>{% block title %}{% endblock title %} | CySec</title>
</head>


<body class="fixed-sn stylish-color">
    <div style="height: 100vh">
        <div class="d-flex flex-column h-100">
            <header>
                {% include 'sidebar.html' %}
                <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
                    {% include 'navbar_items.html' %}
                </nav>
                {% block header_content %}{%endblock header_content %}
            </header>
            <main class="d-flex flex-column flex-grow">
                <div class="col-sm-12 col-md-10 mx-auto h-100 flex-grow card">
                    <div class="mt-5"></div>
                    <div class="container">
                        {# notifications_unread as unread_count #}
                        {% if unread_count %}
                            <div class="alert alert-info">
                                You have <strong><a href="{% url 'notifications:unread' %}">{{ unread_count }}</a></strong> unread notifications.
                            </div>
                        {% endif %}
                        {% if messages %}
                            {% for msg in messages %}
                                {% include 'flash.html' with message=msg %}
                            {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </main>
        </div>
    </div>


    {% include 'scripts.html' %}
    <script>
        // SideNav Initialization
        $(".button-collapse").sideNav();    
    </script>

    {% block extra_scripts %}{% endblock extra_scripts %}

</body>

</html>