{% load notifications_tags %}

{% notifications_unread as unread_count %}
{% if unread_count %}
  <div class="alert alert-info">
      You have <strong><a href="{% url 'notifications:unread' %}">{{ unread_count }}</a></strong> unread notifications.
  </div>
{% endif %}