{% load staticfiles %}
<!-- Sidebar navigation -->
  <div id="slide-out" class="side-nav fixed">
    <ul class="custom-scrollbar" id="slide-out">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#"><img src="{% static 'img/logo_grey.png' %}" class="img-fluid"></a>
        </div>
      </li>
      <!--/. Logo -->

      <!-- Side navigation links -->

      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a href="{% url 'pentesting:single-project' %}" class="waves-effect collapsible-header">
              <i class="fa fa-fw fa-dashboard"></i>
              Dashboard
            </a>
          </li>

          <li>
            <a href="{% url 'activity-feed:all-project-activities' %}" class="waves-effect collapsible-header">
              <i class="fa fa-fw fa-history"></i>
              Activity Log
            </a>
          </li>
          <li>
            <a href="{% url 'pentesting:all-hosts' %}" class="waves-effect collapsible-header">
              <i class="fa fa-fw fa-desktop"></i>
              Hosts
            </a>
          </li>
          <li>
            <a href="{% url 'pentesting:all-credentials' %}" class="waves-effect collapsible-header">
              <i class="fa fa-fw fa-user-secret"></i>
              Social Engineering
            </a>
          </li>

          <li>
            <a href="{% url 'pentesting:reports' %}" class="waves-effect collapsible-header">
              <i class="fa fa-fw fa-file"></i>
              Report
            </a>
          </li>

          <li>
            <a href="{% url 'todoz:all_tasks' %}" class="waves-effect collapsible-header">
              <i class="fa fa-fw fa-tasks"></i>
              Tasks
            </a>
          </li>

          <li><a></a></li>
          <li class="search-form">
            <a href="{% url 'pentesting:project-settings' %}" class="waves-effect collapsible-header">
              <i class="fa fa-fw fa-link"></i>
              Project-Settings
            </a>
          </li>
          <!--
          <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-eye"></i> About<i class="fa fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="#" class="waves-effect">Introduction</a>
                </li>
                <li><a href="#" class="waves-effect">Monthly meetings</a>
                </li>
              </ul>
            </div>
          </li> -->

        </ul>
      </li>
      <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <!--/. Sidebar navigation -->
