<form class="form" method="POST" action="{% url 'edit_vuln_type' form.instance.slug %}">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-default float-right pl-5 pr-5 mt-3">Save</button>
</form>