{% load i18n %}
<form class="form-inline float-left" method="POST" action="{% url 'bug_bounty_add_disclosure_time' vuln.pk %}">
    {% csrf_token %}
    {{ increase_disclosure_time_form }}
    <button class="btn btn-primary">{% trans "Update disclosure time" %}</button>
</form>