{% extends 'base_no_sidebar.html' %}

{% block title %}Mailbox{% endblock title %}

{% block content %}
    <h3 class="text-center">
        {{user.username}} Mailbox
    </h3>
    <hr />
    <div id="enc_notification" class="alert alert-info">
        Loading encryption keys...
    </div>
    {% include 'cymailbox/forms/new_message_form.html' %}
{% endblock content %}

{% block extra_scripts %}
{% include 'cymailbox/javascript/mailbox_crypto.html' %}
{% endblock extra_scripts %}