{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'accounts/base/head.html' %}
    <title>CySec - {% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <!-- Full Page Intro -->
        <div class="view">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-8 mx-auto mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                            {# include 'notifications.html' #}
                            {% if messages %}
                                {% for msg in messages %}
                                    {% include 'flash.html' with message=msg %}
                                {% endfor %}
                            {% endif %}
                            {% block content_right %}
                            {% endblock content_right %}
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->
    </header>

    {% include 'accounts/base/scripts.html'%}
</body>

</html>